@model BookingHistoryItemContainer
<!--Import JQuery-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<h1>Booking historik</h1>

<form asp-controller="OrderHistory" asp-action="Index" method="get">
    <button type="submit" class="btn btn-primary">Tilbage</button>
</form>

<!--Use partial view with defined table-->
<div id="BookingHistoryItemContainer">
    @await Html.PartialAsync("PVBookingHistoryTable", Model);
</div>

<script>
    $(document).ready(function () {
        // function to update table content asynchronously using partial view
        function updateTable() {
            $.ajax({
                url: '/OrderHistory/UpdatePartialViewTable',
                method: 'GET',
                data: { phone: localStorage.getItem("userPhone")},
                success: function (result) {
                    $('#BookingHistoryItemContainer').html(result);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }

        //call method uppon document ready
        updateTable();


        //update every 10 seconds
        setInterval(updateTable, 10000);
    });
</script>
